<% include ../partials/header %>

<div class='user'>
  <h3>username: <%= user.username %></h3>
  <h3>password: <%= user.password %></h3>
  <h3>fullname: <%= user.fullname %></h3>
  <a href="/users/<%= user.id %>/edit"> edit this cumulus user </a>
  <form action="/users/<%= user.id %>?_method=Delete" method="Post">
    <input type="Submit" value="delete"/>
  </form>
  <a href='/users/'>see all cumulus users</a>
</div>

<% include ../partials/footer %>
